﻿@page "/departments"
@using OtusVacationPlanner.Data
@using OtusVacationPlanner.Data.Models
@using Blazored.Modal.Services

@inject PlannerService PlannerService

<div class="top-container">
    <h1>Departments</h1> 
    <button class="btn btn-dark" @onclick="() => ShowAddDepartment()">Add department</button>
</div>


@if (departments == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in departments)
            {
                <tr>
                    <td>@department.DepartmentId</td>
                    <td>@department.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [CascadingParameter] public IModalService Modal { get; set; }

    private List<DepartmentModel> departments;

    protected override async Task OnInitializedAsync()
    {
        departments = await PlannerService.GetDepartmentsAsync();
    }

    protected async void ShowAddDepartment()
    {
        var addUserForm = Modal.Show<DepartmentsForm>("Add Department");

        var result = await addUserForm.Result;

        if (!result.Cancelled && result.Data != null)
        {
            departments.Add((DepartmentModel)result.Data);
            StateHasChanged();
        }
    }
}
