﻿@using OtusVacationPlanner.Data
@using OtusVacationPlanner.Data.Models
@using Microsoft.AspNetCore.Components
@using Blazored.Modal
@using Blazored.Modal.Services
@inject PlannerService PlannerService

<EditForm Model="Position" class="teacher-form">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label class="planner-form__label">
        <div>Name:</div>
        <InputText @bind-Value="Position.Name" class="planner-form__input"/>
    </label>

    <button @onclick="SavePosition" class="btn btn-primary">Submit</button>
    <button @onclick="ModalInstance.CancelAsync" class="btn btn-secondary">Cancel</button>
</EditForm>

@code {

    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    PositionModel Position { get; set; }

    protected override void OnInitialized()
    {
        Position = new PositionModel();
    }

    void SavePosition()
    {
        Position = PlannerService.SavePositionAsync(Position).Result;
        ModalInstance.CloseAsync(ModalResult.Ok<PositionModel>(Position));
    }

}
